<h1>나랑 어울리는 연예인은 뚜둔!!</h1>
<form action="/home/result">
  이름 입력해봐: <input type="text" name="username"><br>
  성별은 여자야 남자야?: <input type="radio" name="gender" value="female" > 여자
  <input type="radio" name="gender" value="male"> 남자<br>
  <input type="submit" value="Submit">
</form>